Up2dateService/Up2dateConsole/Connected Services/ServiceReference/RTSoft.Ritms.Up2date.win.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://RTSoft.Ritms.Up2date.win" elementFormDefault="qualified" targetNamespace="http://RTSoft.Ritms.Up2date.win" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Up2dateShared" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfPackage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Package" type="tns:Package" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackage" nillable="true" type="tns:ArrayOfPackage" />
  <xs:complexType name="Package">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayVersion" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Up2dateShared" minOccurs="0" name="ErrorCode" type="q1:InstallPackageResult" />
      <xs:element minOccurs="0" name="EstimatedSize" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Filepath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:PackageStatus" />
      <xs:element minOccurs="0" name="UrlInfoAbout" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Package" nillable="true" type="tns:Package" />
  <xs:simpleType name="PackageStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unavailable" />
      <xs:enumeration value="Available" />
      <xs:enumeration value="Downloading" />
      <xs:enumeration value="Downloaded" />
      <xs:enumeration value="Installing" />
      <xs:enumeration value="Installed" />
      <xs:enumeration value="RestartNeeded" />
      <xs:enumeration value="Failed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PackageStatus" nillable="true" type="tns:PackageStatus" />
  <xs:complexType name="SystemInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Is64Bit" type="xs:boolean" />
      <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="PlatformID" type="q2:PlatformID" />
      <xs:element minOccurs="0" name="ServicePack" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Version" nillable="true" type="q3:Version" />
      <xs:element minOccurs="0" name="VersionString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemInfo" nillable="true" type="tns:SystemInfo" />
  <xs:complexType name="ClientState">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="LastError" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Up2dateShared" minOccurs="0" name="Status" type="q4:ClientStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientState" nillable="true" type="tns:ClientState" />
  <xs:complexType name="ResultOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultOf{0}{#}" Namespace="http://RTSoft.Ritms.Up2date.win" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultOfstring" nillable="true" type="tns:ResultOfstring" />
  <xs:complexType name="Result">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>