Up2dateService/Up2dateConsole/Connected Services/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://RTSoft.Ritms.Up2date.win" />
  <xs:element name="GetPackages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://RTSoft.Ritms.Up2date.win" minOccurs="0" name="GetPackagesResult" nillable="true" type="q1:ArrayOfPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartInstallation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://RTSoft.Ritms.Up2date.win" minOccurs="0" name="packages" nillable="true" type="q2:ArrayOfPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartInstallationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://RTSoft.Ritms.Up2date.win" minOccurs="0" name="GetSystemInfoResult" type="q3:SystemInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMsiFolder">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMsiFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMsiFolderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://RTSoft.Ritms.Up2date.win" minOccurs="0" name="GetClientStateResult" type="q4:ClientState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeviceIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCertificateAvailable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCertificateAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsCertificateAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oneTimeKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://RTSoft.Ritms.Up2date.win" minOccurs="0" name="RequestCertificateResult" type="q5:ResultOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>