Up2dateService/Up2dateConsole/Connected Services/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://RTSoft.Ritms.Up2date.win" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Up2dateShared" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetPackages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://RTSoft.Ritms.Up2date.win" minOccurs="0" name="GetPackagesResult" nillable="true" type="q1:ArrayOfPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartInstallation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://RTSoft.Ritms.Up2date.win" minOccurs="0" name="packages" nillable="true" type="q2:ArrayOfPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartInstallationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectInstallation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://RTSoft.Ritms.Up2date.win" minOccurs="0" name="package" type="q3:Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectInstallationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://RTSoft.Ritms.Up2date.win" minOccurs="0" name="GetSystemInfoResult" type="q4:SystemInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMsiFolder">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMsiFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMsiFolderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://RTSoft.Ritms.Up2date.win" minOccurs="0" name="GetClientStateResult" type="q5:ClientState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeviceIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCertificateAvailable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCertificateAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsCertificateAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oneTimeKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://RTSoft.Ritms.Up2date.win" minOccurs="0" name="RequestCertificateResult" type="q6:ResultOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://RTSoft.Ritms.Up2date.win" minOccurs="0" name="ImportCertificateResult" type="q7:ResultOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestCertificateUrl">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestCertificateUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRequestCertificateUrlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRequestCertificateUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRequestCertificateUrlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvisioningUrl">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvisioningUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProvisioningUrlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProvisioningUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProvisioningUrlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckSignature">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckSignatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCheckSignatureResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCheckSignature">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newState" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCheckSignatureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfirmBeforeInstallation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfirmBeforeInstallationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConfirmBeforeInstallationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfirmBeforeInstallation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newState" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfirmBeforeInstallationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignatureVerificationLevel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignatureVerificationLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Up2dateShared" minOccurs="0" name="GetSignatureVerificationLevelResult" type="q8:SignatureVerificationLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSignatureVerificationLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Up2dateShared" minOccurs="0" name="level" type="q9:SignatureVerificationLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSignatureVerificationLevelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCertificateValidAndTrusted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="certificateFilePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCertificateValidAndTrustedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsCertificateValidAndTrustedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhitelistedCertificates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhitelistedCertificatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWhitelistedCertificatesResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCertificateToWhitelist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="certificateFilePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCertificateToWhitelistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://RTSoft.Ritms.Up2date.win" minOccurs="0" name="AddCertificateToWhitelistResult" type="q11:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>