Up2dateService/Up2dateConsole/Connected Services/ServiceReference/System.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="PlatformID">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Win32S" />
      <xs:enumeration value="Win32Windows" />
      <xs:enumeration value="Win32NT" />
      <xs:enumeration value="WinCE" />
      <xs:enumeration value="Unix" />
      <xs:enumeration value="Xbox" />
      <xs:enumeration value="MacOSX" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlatformID" nillable="true" type="tns:PlatformID" />
  <xs:complexType name="Version">
    <xs:sequence>
      <xs:element name="_Build" type="xs:int" />
      <xs:element name="_Major" type="xs:int" />
      <xs:element name="_Minor" type="xs:int" />
      <xs:element name="_Revision" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Version" nillable="true" type="tns:Version" />
</xs:schema>