Up2dateService/Up2dateConsole/Connected Services/ServiceReference/Up2dateShared.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Up2dateShared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Up2dateShared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="InstallPackageResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="PackageNotSupported" />
      <xs:enumeration value="PackageUnavailable" />
      <xs:enumeration value="FailedToInstallChocoPackage" />
      <xs:enumeration value="GeneralInstallationError" />
      <xs:enumeration value="ChocoNotInstalled" />
      <xs:enumeration value="SignatureVerificationFailed" />
      <xs:enumeration value="RestartNeeded" />
      <xs:enumeration value="CannotStartInstaller" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="InstallPackageResult" nillable="true" type="tns:InstallPackageResult" />
  <xs:simpleType name="ClientStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Stopped" />
      <xs:enumeration value="CannotAccessServer" />
      <xs:enumeration value="Running" />
      <xs:enumeration value="NoCertificate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ClientStatus" nillable="true" type="tns:ClientStatus" />
  <xs:simpleType name="SignatureVerificationLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SignedByAnyCertificate" />
      <xs:enumeration value="SignedByTrustedCertificate" />
      <xs:enumeration value="SignedByWhitelistedCertificate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SignatureVerificationLevel" nillable="true" type="tns:SignatureVerificationLevel" />
</xs:schema>